.bold {
    font-family: "centurygothic_bold";
}

.regular {
    font-family: "centurygothic";
}


ul li:after {
    content: url('../images/small_triangle.png');
}


.wrapper {
    width: 100%;

    .content {
        width: 100%;

        .slide-detect {
            right: 3%;
            left : auto;
            top  : 40%;

            z-index: 9;

            .slide-detect__ul {


                .slide-detect__li {
                    list-style   : none;
                    margin-bottom: 25px;

                    &::after {
                        display: block;
                        width  : 20px;
                        height : 20px;
                        content: url('../media/image/buttons/slide-detect/white-oval.svg');
                    }
                }
            }
        }

        // .works {
        //     width  : 100%;
        //     z-index: 1;

        //     .work__box {
        //         width        : 100%;
        //         position     : relative;
        //         margin-bottom: -5px;

        //         .work__thumb {
        //             width: 100%;

        //             .work__thumb__img {
        //                 width: 100%;
        //             }
        //         }

        //         .work__name {
        //             position   : absolute;
        //             // top: 20px;
        //             bottom     : 50px;
        //             left       : 3%;
        //             font-family: 'Montserrat', sans-serif;
        //             font-weight: 600;
        //             font-size  : 60px;
        //             color      : #fff;
        //         }
        //     }
        // }
    }
}

.order-form {
    width  : 100%;
    padding: 250px 0;

    .order-form__box {
        position: relative;
        width   : 90%;
        margin  : 0 auto;

        .order-form__email {
            width           : 100%;
            font-family     : 'Montserrat', sans-serif;
            // font-size    : 150px;
            font-weight     : 600;
            color           : #3A3A3A;
            border          : none;
            border-bottom   : #3A3A3A 6px solid;
            margin-bottom   : 45px;
            // margin: 0 20%;

            &::placeholder {
                color         : #3A3A3A;
                // font-size: 1.5em;
                text-transform: uppercase;
                margin-bottom : 10px;
            }
        }

        .order-form__label {
            font-family: 'centurygothic', sans-serif;
            font-size  : 30px;
            font-weight: 400;
            color      : #3A3A3A;

        }

        .order-form__submit {
            background         : url('../media/image/buttons/submit-form/arrow.svg');
            // width           : 150px;
            // height          : 150px;
            background-size    : 150px 150px;
            background-color   : transparent;
            border             : 0;
            position           : absolute;
            right              : 10px;
        }
    }
}

@media screen and(min-width:1548px) {

    .order-form {

        .order-form__submit {
            background      : url('../media/image/buttons/submit-form/arrow.svg');
            width           : 150px;
            height          : 150px;
            background-size : 150px 150px;
            background-color: transparent;
            border          : 0;
            position        : absolute;
            right           : 10px;
        }

        .order-form__email {
            font-size  : 150px;
            font-weight: 600;
            color      : #fff;

            &::placeholder {
                font-size     : 150px;
                text-transform: uppercase;
                margin-bottom : 10px;
            }
        }
    }
}

@media screen and(min-width:1024px) {
    .slide-detect {
        position: fixed;
    }

    .works {
        width  : 100%;
        z-index: 1;

        .work__box {
            width        : 100%;
            position     : relative;
            margin-bottom: -5px;

            .work__thumb {
                width: 100%;

                .work__thumb__img {
                    width: 100%;
                }
            }

            .work__name {
                position   : absolute;
                // top: 20px;
                bottom     : 50px;
                left       : 3%;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                font-size  : 60px;
                color      : #fff;
            }
        }
    }
}

@media screen and(min-width:1025px) and (max-width:1548px) {
    .order-form {
        .order-form__submit {
            // background      : url('../media/image/buttons/submit-form/arrow.svg');
            width          : 100px;
            height         : 100px;
            background-size: 100px 100px;
            border         : 0;
            right          : 10px;
        }

        .order-form__email,
        .order-form__email::placeholder {
            font-size: 90px;
        }
    }
}

@media screen and (min-width:320px) and(max-width:1024px) {
    .slide-detect {
        display: none;
    }

    .order-form {
        .order-form__submit {
            // background      : url('../media/image/buttons/submit-form/arrow.svg');
            width          : 100px;
            height         : 100px;
            background-size: 100px 100px;
            border         : 0;
            right          : 10px;
        }

        .order-form__email,
        .order-form__email::placeholder {
            font-size: 14px;
        }
    }

    .works {
        width  : 100%;
        margin-top: 130px;
        z-index: 1;

        .work__box {
            width        : 90%;
            position     : relative;
            margin: 0 auto 35px;
            margin-bottom: 35px;

            .work__thumb {
                width        : 100%;
                border-radius: 10px;

                .work__thumb__img {
                    border-radius: 10px;
                    width: 100%;
                }
            }

            .work__name {
                position   : absolute;
                bottom     : 20px;
                left       : 3%;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                font-size  : 30px;
                color      : #fff;
            }
        }
    }
}