.wrapper {
    width: 100%;

    .content {
        width: 93%;

        .showreel-header {
            font-family: 'Montserrat', sans-serif;
            font-style : normal;
            font-weight: 700;
            color      : #000;
        }

        .showreel-comment {
            font-family: 'centurygothic', sans-serif;
            font-style : normal;
            font-weight: 400;
            color      : #000;

        }


        .video-box {
            background-color: #C4C4C4;


            .video-video {}
        }
    }
}

@media screen and(min-width:1024px) {
    .content {
        margin: 250px auto 0 auto;

        .showreel-header {
            font-size: 66px;
        }

        .showreel-comment {
            line-height: 61px;
            margin-top : 60px;
            font-size  : 50px;
        }

        .video-box,
        .video-video {
            // width : 1400px;
            width : 100%;
            height: 800px;
        }

        .video-box {
            margin: 130px auto;

        }
    }

}

@media screen and (min-width:320px) and(max-width:1024px) {
    .content {
        margin: 120px auto 0 auto;

        .showreel-header {
            font-size: 46px;
        }

        .showreel-comment {
            font-size  : 16px;
            margin-top : 10px;
        }

        .video-box,
        .video-video {
            width : 100%;
            height: 230px;
        }

        .video-box {
            margin: 60px auto;

        }
    }
}